html
  head
    title= "2️⃣ site-two"
    style
      include ../public/style.css
  body
    h1= "2️⃣ site-two"
    h4= "site-two received in the Referer header:"
    div(class="referrer")=referrer
    script
      include ../public/script.js